# Environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Project Specific
models/
.pkl

# OS
.DS_Store
.DS_Store?
._*
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.swp
*.swo
